<footer style="background-color: #0b0b0b">
    <div class="container">
        <div class="row row-padded">
            <div class="col-md-12 text-center">
                <p>
                    <small>
                        免责声明：本站部分内容来源于互联网。如果本站部分内容侵犯您的权益，请您告知，站长会立即处理。
                        <br/>
                        联系QQ:164358445 &nbsp; 联系电话:15918711992 &nbsp; &copy; 桂ICP备17006096号
                        <br/>
                        最纯粹的我活在旧时光
                        <br/>
                        来不及陪你走一程 &nbsp; 来不及给你永恒
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>