<!-- jQuery -->
<!--<script src="js/jquery_004.js"></script>-->
<!-- jQuery Easing -->
<!--<script src="js/jquery_003.js"></script>-->
<!-- Bootstrap -->
<script src="js/bootstrap.js"></script>
<script src="bootstrap-fileinput/js/fileinput.js"></script>
<script src="bootstrap-fileinput/js/locales/zh.js"></script>
<!-- Waypoints -->
<script src="js/jquery.js"></script>



<!-- Magnific -->
<script src="js/jquery_002.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Isotope & imagesLoaded -->
<script src="js/isotope.js"></script>
<script src="js/imagesloaded.js"></script>
<!-- GSAP  -->
<script src="js/TweenLite.js"></script>
<script src="js/CSSPlugin.js"></script>
<script src="js/EasePack.js"></script>

<!-- MAIN JS -->
<script src="js/main.js"></script>