<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>a dog a world</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template">
    <meta name="keywords" content="a world a dog">
    <!--@ include("/common/import_css.html"){} -->
    <link rel="stylesheet" href="css/login-register.css">
</head>
<body class="bg-color-black">
<!----------导航条start------------->
<!--@ include("/common/nav_menu.html"){} -->
<!-----------end导航条-------------->
<div class="container">
    <div class="row" style="padding-bottom: 100px; clear: both;">
        <div class="col-md-4 col-md-offset-4">
            <!-- Start Sign In Form -->
            <form action="${ctx}/login" method="post" class="fh5co-form animate-box" data-animate-effect="fadeIn">
                <h2>登录</h2>
                <div class="form-group">
                    <label for="username" class="sr-only">昵称</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="请输入昵称" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">密码</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="remember"><input type="checkbox" name="remember" id="remember"> 记住我</label>
                </div>
                <div class="form-group">
                    <p>没有账号? <a href="${ctx}/toRegister">去注册</a> | <a href="${ctx}/forgotPwd">忘记密码?</a></p>
                </div>
                <div class="form-group">
                    <input type="submit" value="确定" class="btn btn-primary">
                </div>
            </form>
            <!-- END Sign In Form -->

        </div>
    </div>

</div>
<!---footer--->
<!--@ include("/common/footer.html"){} -->
<!---footer--->

<!--@ include("/common/import_js.html"){} -->

</body>
</html>