<div id="fh5co-aside">
    <div class="image-bg"></div>
    <div class="overlay"></div>
    <div class="row">
        <div class="col-md-12">
            <div id="fh5co-aside-inner">
                <div class="row" id="fh5co-bio">
                    <div class="col-md-12">
                        <h2>${user_info.name!''}</h2>

                        <img src="f:\\Images\aaa.jpg" alt="eee" style="width:100px;height:100px;">
                        <img src="f:\\Images\aaa.jpg" alt="eee" style="width:100px;height:100px;">

                        <div><a href="${ctx}/loginOut">安全退出</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
